@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Unigeo';
  src: url('/fonts/unigeo/Unigeo64-Regular-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Bold-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Extrabold-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Extralight-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-light-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Medium-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Semibold-trial.ttf') format('truetype'),
  url('/fonts/unigeo/Unigeo64-Thin-trial.ttf') format('truetype');
}

:root {
  --full-background: #f9f5f2;
  --white: #ffffff;
  --black: #282825;
  --yellow: #f7cb45;
  --small: #52514e;
  --h2:#0d0c22;
  --p: #52514e;
  --cabin: "Cabin", serif;
  --livvic: "Livvic", sans-serif;
  --unigeo: "Unigeo", sans-serif;
}

body {
  background-color: var(--full-background);
  font-family: var(--cabin);
}

.contt {
  width: 80%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .contt {
    width: 90%;
  }
}

small {
  color: var(--small);
  font-weight: 400;
}

h1 {
  color: var(--black);
}

h2{
  color: var(--h2);
}

h3{
  color: var(--black);
}

h4{
  color: var(--black);
}

p {
  color: var(--p);
  font-weight: 400;
}


